{% extends "base.html" %}

{% block title %}ユーザー管理サイト | {{ APP_TITLE }}{% endblock %}

{% block content %}
<div class="container py-5">
    <!-- ヘッダー部分 -->
    <div class="text-center mb-5">
        <img src="media/default/showcase.svg" alt="Showcase Image" class="img-fluid" width="250">
        <h1 class="fw-bold mt-3">ユーザー管理サイト</h1>
        <p class="text-muted">シンプルで直感的なユーザー管理を提供します。</p>
    </div>
    {% if user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm bg-light border-0">
                <div class="card-body text-center py-4">
                    <!-- ユーザー名を表示 -->
                    <h3 class="mb-3 text-primary fw-bold">ようこそ!</h3>
                    <h4 class="mb-3 text-dark">ユーザー管理サイトへ!</h4>
                    <p class="fs-5 text-secondary"><strong class="text-dark">{{ user.name }} さん!</strong></p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <!-- 機能の紹介カード -->
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">ユーザー登録</h5>
                    <p class="card-text">新しいユーザーを簡単に登録できます。</p>
                    <a href="{% url 'user:register' %}" class="btn btn-primary">登録する</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">ユーザーログイン</h5>
                    <p class="card-text">すでに登録されたいる場合は､こちらでログインできる｡</p>
                    <a href="{% url 'user:login' %}" class="btn btn-primary">ログインページへ</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}